.titles{
	font-size: 200%;
	font-weight:900;
	color: #1ECFDB;
	margin-left: 12%;
}

table{
	margin-left: 10.5%;
	width: 80%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

td, th{
	border-bottom: 1px solid #D8D8D8;
    padding: 10px;
}

.tables a{
	text-decoration: none;
	color: black;
	cursor: pointer;
	text-overflow: ellipsis;
	display: inline-block;
	width: 450px;
	white-space: nowrap;
	overflow: hidden;
}

.tables a:hover{
	text-decoration: underline;
}

.listCount{
	color: #B2B2B2;
	margin-left: 1%;
}

.warning{
	font-weight: bold;
	margin-left: 45%;
}